/* roots */
:root {
    --headerLinks: #1503f3;
    --arrow: #0e1059;
    --buttonGradient: linear-gradient(to left, #000087 0%, #1503f3 51%, #000087 100%);
    --buttonGradientHover: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    --buttonColor: #ffffff;
    --frontText: #05062c;
    --ourServices: #00000f;
    --serviceText: #00005f;
    --selection: #0034bd;
    --servicesUnderline: #0000ff;
    --selection: #0034bd;
    --solutionText: #000087;
    --underline: #000000;
    --cloudComputing: #000087;
    --emailForm: #adc7FF;
    --submit: #000087;
    --footerText: #000059;
    --backGround: #0099ff;
    --footer: #977fbd;
}

/* General */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Aclonica';
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Header */
nav {
    /*width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    height: auto;
    box-shadow: 0 2px 4px 1px #b8b8b8,
        0 2px 4px 1px #b8b8b8,
        0 -2px 4px 1px  #b8b8b8;*/
            background:transparent;
            z-index: 999;
            position: fixed;
            box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
                top: 0;
                left: 0;
                width: 100%;
                padding: 10px 0;
                transition: .5s;
}
.navabar{
    background: transparent;
}
.provisionary{
    background: #fff;
    -webkit-box-shadow: 0 10px 25px 0 rgb(18 18 18 / 5%);
            -moz-box-shadow: 0 10px 25px 0 rgba(18, 18, 18, .05);
            box-shadow: 0 10px 25px 0 rgb(18 18 18 / 5%);
}
.navabar .navbar_menu_links a {
    color: #000087;
}
.provisionary .navbar_menu_links a {
    color: #2b5876 !important;
}
.navabar .navbar_menu_logo svg path {
    fill: #000087;
}

.navabar .navbar_menu_logo svg path:hover {
    fill: #4e4376;
}
.navabar .navbar_menu_contact_us{
    background: var(--buttonGradient);
}
.navabar .navbar_menu_contact_us:hover,provisionary .navbar_menu_contact_us:hover{
background-position: left;
}
.provisionary .navbar_menu_contact_us {
        background: var(--buttonGradientHover);
}

.navabar ul li a::after {
    background: var(--buttonGradient);
}
.provisionary ul li a::after {
    background: var(--buttonGradientHover);
}

.navabar .navabar_menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column: span;
    width: 100%;
    padding: 10px 0;
}

.navbar_menu_logo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5em;
    position: absolute;
    top:50%;
    width: 20%;
    transform: translateY(-50%);
    height: 2.5em;
}
.provisionary .navbar_menu_logo svg path:hover {
    fill: #000087;
}
    .provisionary .navbar_menu_logo svg path {
    fill: #4e4376;
    stroke: #2b5876;
    stroke-width: 20px;
    transition: 1s;
}

.navbar_menu_links{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,auto);
    width: 95%;
    padding: 0px 45px;
    text-transform: capitalize;

}
.navbar_menu_links a {
    width: fit-content;
    transition: 1s;
}

ul li a::after {
    content: '';
    height: 5px;
    border-radius: 5px;
    border-bottom-right-radius:30px;
    width: 0;
    position: absolute;
    bottom: 25px;
    text-align: left;
    transition: 1s;
}

ul li:nth-child(1) a:hover::after {
    width: 45px;
    left: 269.3px;
}
ul li:nth-child(2) a:hover::after {
    width: 59.5px;
    left: 347.9px;
}

ul li:nth-child(3) a:hover::after {
    width: 70px;
    left: 450.6px;
}

ul li:nth-child(4) a:hover::after {
    width: 62.2px;
    left: 570.6px;
}

ul li:nth-child(5) a:hover::after {
    width: 63.1px;
    left: 677.8px;
}

ul li:nth-child(6) a:hover::after {
    width: 38px;
    left: 786.5px;
}
    .navbar .navabar_menu navbar_menu_links li a:hover::after {
    width: 100px;
}
ul{
    list-style-type: none;
}
.navbar_menu_contact_us {
    border-radius: 10px;
    transition: all 1s;
    background-blend-mode:darken;
    padding: 10px 16px;
    width: fit-content;
    height: fit-content;
    color: var(--buttonColor);
    box-shadow: 0 0 20px #eee;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    display: block;
}
.navbar_menu_contact_us:hover {
background-position: right center;
     transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
         box-shadow: 0 0 20px #eee;
    }
.navar_menu_bar{
    display: none;
}
.welcome_background {
    height: 100vh;
    z-index: 0;
    width: 100%;
    background-image: linear-gradient(rgba(109, 160, 240,0.15), rgba(0, 0, 0, 0.35)),url(../Resources/reshot-illustration-cloud-technology-HWB5LJCYRD.png);
    background-size:cover;
    background-position: center;
    margin-top: 3px;
    /* background-attachment:fixed;  */
    justify-content: center;
    align-content: center;
    place-content: center;
    text-align: center;
    justify-items: center;
}

.welcome_background_page {
    height: 75%;
    width: 45em;
    display: inline-flex;
    flex-direction: column;
    color: var(--frontText);
    place-content: center;
    text-shadow: 0 0 5px white;
}

.welcome_background_page h1 {
    font-size: 2.5em;
}

.welcome_background_page h4 {
    font-size: 1em;
}
.welcome_background_page_after{
    content:url(../Resources/Vector\ \(2\).svg);
    position: relative;
    margin: 0;
    width: 100%;
    transform: translateY(-15px);
}
/*.services{
    width: 75%;
    height: 500px;
    transform: matrix();
    background-color: black;
}*/
.faq{
    display: inline-flex;
    flex-direction: column;
justify-content: center;
place-content: center;
}

.faq__cards {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    place-content: center;
}

.faq__cards span {
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    place-content: center;
}

.faq__cards span h1 {
    color: var(--cloudComputing);
}

.faq__cards span p {
    color: var(--solutionText);
}

.faq__cards img {
    transform: scale(0.75);
}

.faq__text {
    text-align: center;
    color: var(--solutionText);
}

.faq__text::before {
    content: '';
    position: absolute;
    transform: translate(0, 30px);
    background-color: black;
    width: 20%;
    height: .3em;
    border-radius: 30em;
}
.faq__heading {
    text-align: center;
    color: var(--solutionText);
}

.partners__heading {
    text-align: center;
    color: var(--solutionText);
}

.partners__heading::before {
    content: '';
    position: absolute;
    transform: translate(0, 30px);
    background-color: black;
    width: 10%;
    height: .3em;
    border-radius: 30em;
}

.partners span {
    display: inline-flex;
    flex-direction: row;
    place-content: center;
    margin-top: 1em;
    gap: auto;
    width: 100%;
}

.partners span img {
    transform: scale(0.5);
}

.call_to_action,
.call_to_action span {
    display: inline-flex;
    flex-direction: row;
    place-content: center;
    margin-top: 1em;
    gap: auto;
    width: 100%;
}

.call_to_action span {
    flex-direction: column;
}
.call_to_action span h3 {
    color: var(--cloudComputing);
}
.call_to_action_image {
    transform: scale(0.55);
}

.call_to_action_form_input {
    height: auto;
    border-top-left-radius: .65em;
    border-bottom-left-radius: .65em;
    transform: skew(-10deg);
    border: none;
    color: white;
    background: var(--emailForm);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.call_to_action_form {
    display: inline-flex;
    flex-direction: row;
    transform: translate(-5em,1em);
    place-content: center;
}

.call_to_action_form_button {
    position: relative;
    transform: translateX(-10px) skew(-10deg);
    z-index: 0;
    height: auto;
    background: var(--submit);
    border: none;
    border-radius: .65em;
}

.call_to_action_form_button img {
    transform: scale(0.5);
    text-align: center;
}
.footer{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--footer);
    border-top: 5px solid var(--footerText);
}
.footer_links{
    display: inline-flex;
    flex-direction: row;
    padding: 1.5em;
    gap: 15%;
    place-content: center;
}
.footer_links div{
    line-height: 40px;

}
.footer a{
    color:var(--footerText) !important;
}
.footer_connect_info {
    display: flex;
    flex-direction: column;
    gap: 30px
}
.footer_connect_info a{
    display: flex;
    flex-direction: row;
}

.footer_connect_info a img{
    display: table-cell;
    vertical-align:super;
    margin-top: -8px;
}
.footer_services{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.footer_company_name {
    width: 100%;
 display: flex;
 flex-direction: column;
 line-height: 20px;
}
.footer_company_name h1 {
    font-size: 2em;
}
.footer_company_name h6 {
    letter-spacing: -0.05em;
    font-size: .55em;
}
.footer_connect_info a {
    border: 5px solid var(--footerText);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 1em 2em .7em 1em;
    width: fit-content;
    transform: skewX(-8deg);
}
.footer_connect {
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.footer_connect_info_text {
    transform: skewX(8deg);
}
.footer_connect_copywrite_and_icons{
    width: 100%;
display: inline-flex;
flex-direction: column;
place-items: center;
bottom: 0;
}
.footer_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    right:15%;
    gap:35%;
}
.footer_copywrite h6 {
    display: flex;
}
.footer_policy_link {
    transform: translate(-5em,-10em);    
    width:fit-content;
}
.footer_connect_policy_copywrite_and_icons {
    height: fit-content;
    display: flex;
    flex-direction: row;
    line-height: 40px;
    padding-top: 105px;
}
.footer_copywrite{
    display: flex;
    flex-direction: row;
    gap: -10px;
}
.footer_copywrite h1 {
    font-size: 1.5em;
}
 .services{
     position: relative;
 }
 .services__carousel{
     position:relative;
     height: 600px;
     width: 80%;
     margin: 0 auto;
 }
 .carousel__image{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .carousel__track-container{
     height: 100%;
     position: relative;
     overflow: hidden;
 }
 .carousel__track{
     padding: 0;
     margin: 0;
     list-style: none;
     height: 100%;
     transition: transform 0.1s ease-in;
 }

 .carousel__slide{
     position: absolute;
     top: 0;
     bottom: 0;
     width: 100%;
 }
 .carousel__button{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background: transparent;
     border: 0;
     cursor: pointer;
     z-index: 1;
 }
 .carousel__button--left{
     left: -40px;
    transform: rotate(180deg);
 }
 .carousel__button--right{
    right: -40px;
 }
 .carousel__button img{
     width: 40px;
 }
 .carousel__nav{
     display: flex;
     justify-content: center;
     padding: 10px 0;
 }
 .carousel__indicator{
     border: 0;
     border-radius: 50%;
     width: 20px;
     height: 20px;  
     background: rgba(0, 0, 0, 0.3);
     margin: 0 12px;
     cursor: pointer;
 }
 .carousel__nav .current-slide {
     background: rgba(0, 0, 0, 0.75);
 }
 .is_hidden{
     display: none;
 }
@media screen and (max-width: 900px) {
    *{
        font-size: 1em;
        
    }
.faq__cards {
    flex-direction: column;

}
    .faq__cards:nth-last-child(2) {
    flex-direction: column-reverse;
}

.faq__cards span {
    width: 78%;
    place-content: center;
    text-align: center;
}
.faq__cards span h1{
    font-size: 1.5em; 
    }
.welcome_background_page h1 {
    font-size: 1em;
}
.welcome_background_page{
    width: fit-content;

}
.welcome_background_page h4 {
    font-size: .5em;
}
.navbar_menu_links{
    display:none;
}
.partners span {
flex-direction: column;
}
.footer{
    font-size: 0.75em;
    padding: 20px;
}
.call_to_action{
    flex-direction: column;
}
.call_to_action span h3{
    font-size: .75em;
    width:fit-content;
}
.call_to_action span{
    flex-direction: row;
}
.footer_icons img{
    transform: scale(.75);
}
    .footer_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap:25%;
}
.footer_policy_link {
    transform:none;
    }
    .footer_connect_info_text{
        transform: scale(.5);
    }
.footer_connect_info a {
    width: 150px;
    font-size: 0.5em;
    }
 .faq__heading,
.partners__heading {   
    font-size: 1.5em;
    }
    .typing-effect {
        width:282.8499755859375px;
    }
        .typing-effect_two {
            width: 353.91668701171875px;
        }
            .typing-effect_three{
                width:350.48333740234375px;
            }
                .typing_effect_four {
                    width: 114.15px;;
                }

}
@media screen and (min-width: 900px) {
    .typing-effect {
        width: 702.61669921875px;
    }

    .typing-effect_two {
        width: 705px;
    }

    .typing-effect_three {
        width: 697.88330078125px;
    }

    .typing_effect_four {
        width: 213.14999389648438px;
    }
}
.typing-effect{
    animation: typing 2s steps(29), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2.5em;

}
.typing-effect_two{
    animation: typing 12s steps(76),
    effect .5s step-end infinite alternate;
     overflow-x: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-size: 1.5em;
}
.typing-effect_three{
    animation: typing2 22s steps(78),
    effect .5s step-end infinite alternate;
     overflow-x: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-size: 1.5em;
}
.typing_effect_four{
    animation: typing3 32s steps(25),
    effect .5s step-end infinite alternate;
     overflow-x: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-size: 1.5em;
}
@keyframes typing{
    0%{
        width: 0;
    }
   30% {
        width:0;
    }
}
@keyframes typing2 {
    0% {
        width: 0;
    }

    54.54% {
        width: 0;
    }
}

@keyframes typing3 {
    0% {
        width: 0;
    }

    68.75% {
        width: 0;
    }
}
@keyframes effect{
    50%{
    border-color: transparent;
    }
}
.typing_span{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    text-align: center;
}