/* roots */
:root {
    --headerLinks: #1503f3;
    --arrow: #0e1059;
    --buttonGradient: linear-gradient(to left, #000087 0%, #1503f3 51%, #000087 100%);
    --buttonGradientHover: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    --buttonColor: #ffffff;
    --frontText: #05062c;
    --ourServices: #00000f;
    --serviceText: #00005f;
    --selection: #0034bd;
    --servicesUnderline: #0000ff;
    --selection: #0034bd;
    --solutionText: #000087;
    --underline: #000000;
    --cloudComputing: #000087;
    --emailForm: #adc7FF;
    --submit: #000087;
    --footerText: #000059;
    --footerheading: #0a0abd;
    --backGround: #0099ff;
    --footer: #977fbd;
    --svghover: #977da0;
}

/* General */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Aclonica';
    display: flex;
    flex-direction: column;
}

/* Header */
nav {
    /*width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    height: auto;
    box-shadow: 0 2px 4px 1px #b8b8b8,
        0 2px 4px 1px #b8b8b8,
        0 -2px 4px 1px  #b8b8b8;*/
    background: transparent;
    z-index: 999;
    position: fixed;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    transition: .5s;
}

.navabar {
    background: transparent;
}

.provisionary {
    background: #fff;
    -webkit-box-shadow: 0 10px 25px 0 rgb(18 18 18 / 5%);
    -moz-box-shadow: 0 10px 25px 0 rgba(18, 18, 18, .05);
    box-shadow: 0 10px 25px 0 rgb(18 18 18 / 5%);
}

.navabar .navbar_menu_links a {
    color: #000087;
}

.provisionary .navbar_menu_links a {
    color: #2b5876 !important;
}

.navabar .navbar_menu_logo svg path {
    fill: #000087;
}

.navabar .navbar_menu_logo svg path:hover {
    fill: #4e4376;
}

.navabar .navbar_menu_contact_us {
    background: var(--buttonGradient);
}

.navabar .navbar_menu_contact_us:hover,
provisionary .navbar_menu_contact_us:hover {
    background-position: left;
}

.provisionary .navbar_menu_contact_us {
    background: var(--buttonGradientHover);
}

.navabar ul li a::after {
    background: var(--buttonGradient);
}

.provisionary ul li a::after {
    background: var(--buttonGradientHover);
}

.navabar .navabar_menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column: span;
    width: 100%;
    padding: 10px 0;
}

.navbar_menu_logo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5em;
    position: absolute;
    top: 50%;
    width: 20%;
    transform: translateY(-50%);
    height: 2.5em;
}

.provisionary .navbar_menu_logo svg path:hover {
    fill: #000087;
}

.provisionary .navbar_menu_logo svg path {
    fill: #4e4376;
    stroke: #2b5876;
    stroke-width: 20px;
    transition: 1s;
}

.navbar_menu_links {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 95%;
    padding: 0px 45px;
    text-transform: capitalize;

}

.navbar_menu_links a {
    width: fit-content;
    transition: 1s;
}

ul li a::after {
    content: '';
    height: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 30px;
    width: 0;
    position: absolute;
    bottom: 25px;
    text-align: left;
    transition: 1s;
}

ul li:nth-child(1) a:hover::after {
    width: 45px;
    left: 269.3px;
}

ul li:nth-child(2) a:hover::after {
    width: 59.5px;
    left: 347.9px;
}

ul li:nth-child(3) a:hover::after {
    width: 70px;
    left: 450.6px;
}

ul li:nth-child(4) a:hover::after {
    width: 62.2px;
    left: 570.6px;
}

ul li:nth-child(5) a:hover::after {
    width: 63.1px;
    left: 677.8px;
}

ul li:nth-child(6) a:hover::after {
    width: 38px;
    left: 786.5px;
}

.navbar .navabar_menu navbar_menu_links li a:hover::after {
    width: 100px;
}

ul {
    list-style-type: none;
}

.navbar_menu_contact_us {
    border-radius: 10px;
    transition: all 1s;
    background-blend-mode: darken;
    padding: 10px 16px;
    width: fit-content;
    height: fit-content;
    color: var(--buttonColor);
    box-shadow: 0 0 20px #eee;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    display: block;
}

.navbar_menu_contact_us:hover {
    background-position: right center;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 0 20px #eee;
}

.navar_menu_bar {
    display: none;
}

.welcome_background {
    height: 100vh;
    z-index: 0;
    width: 100%;
    background-image: linear-gradient(rgba(109, 160, 240, 0.15), rgba(0, 0, 0, 0.35)), url(../Resources/reshot-illustration-cloud-technology-HWB5LJCYRD.png);
    background-size: cover;
    background-position: center;
    /* margin-top: 3px; */
    background-attachment: fixed;
    justify-content: center;
    align-content: center;
    place-content: center;
    text-align: center;
    justify-items: center;
}

.welcome_background_page {
    height: 75%;
    width: 45em;
    display: inline-flex;
    flex-direction: column;
    color: var(--frontText);
    place-content: center;
    text-shadow: 0 0 5px white;
}

.welcome_background_page h1 {
    font-size: 2.5rem;
}

.welcome_background_page h4 {
    font-size: 1rem;
}

.welcome_background_page_after {
    content: url(../Resources/Vector\ \(2\).svg);
    position: relative;
    margin: 0;
    width: 100%;
    transform: translateY(-15px);
}

/*.services{
    width: 75%;
    height: 500px;
    transform: matrix();
    background-color: black;
}*/
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding: 2rem;
}

.faq__cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: rgba(113, 113, 224, 0.1);
    margin-bottom: 2rem;
    padding: 2rem;
}

.faq__cards span {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    place-content: center;
    margin-bottom: 2rem;
}

.faq__cards span p {
    margin-top: .1rem;
}

.faq__cards span h1 {
    color: var(--cloudComputing);
}

.faq__cards span p {
    color: var(--solutionText);
}

.faq__cards img {
    width: 100%;
    height: 400px;
}

.faq__cards:nth-child(even) img {
    order: 2;
}

.faq__text {
    text-align: center;
    color: var(--solutionText);
}

.faq__text::before {
    content: '';
    position: absolute;
    transform: translate(0, 30px);
    background-color: black;
    width: 20%;
    height: .3em;
    border-radius: 30em;
}

.faq__heading {
    text-align: center;
    margin-bottom: 2em;
    line-height: 1.2;
    font-size: 2.5rem;
    color: var(--solutionText);
}

.partners__heading {
    text-align: center;
    color: var(--solutionText);
}

.partners__heading::before {
    content: '';
    position: absolute;
    transform: translate(0, 30px);
    background-color: black;
    width: 10%;
    height: .3em;
    border-radius: 30em;
}

.partners span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: auto;
    width: 100%;
}

.partners span img {
    width: 40%;
}

.call_to_action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: auto;
    width: 100%;
}

.call_to_action span h3 {
    color: var(--cloudComputing);
}

.call_to_action_image {
    width: 50%;
}

.call_to_action_form_input {
    height: auto;
    border-top-left-radius: .65em;
    border-bottom-left-radius: .65em;
    transform: skew(-10deg);
    border: none;
    color: white;
    background: var(--emailForm);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.call_to_action_form {
    display: inline-flex;
    flex-direction: row;
    place-content: center;
}
.call_to_action_details{
    width: 90%;
}
.call_to_action_form_button {
    position: relative;
    transform: translateX(-10px) skew(-10deg);
    z-index: 0;
    height: auto;
    padding: 0.05rem;
    background: var(--submit);
    border: none;
    width: 3rem;
    border-radius: .65em;
    cursor: pointer;
}

.call_to_action_form_button svg path {
    fill: white;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}


svg path {
    fill: var(--footerText);
    stroke-width: 20px;
    transition: all .3s ease in;
}

a:hover svg path {
    fill: var(--footerheading);
}

.footer {
    margin-top: 50px;
    background-color: var(--footer);
    padding: 70px 20px;
    border-top: 5px solid var(--footerText);
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 1.5rem;
    color: var(--footerheading);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--ourServices);
    height: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-sizing: border-box;
    width: 5rem;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 15px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--footerText);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--footerheading);
    padding-left: 10px;
}

.footer-col .social-links a:not(:last-child) {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:not(:last-child):hover {
    background-color: #ffffff33;
}

.footer-col .footer-contact li:hover {
    padding-left: 10px;
}

.footer-col .footer-contact li a {
    border: 5px solid var(--footerText);
    border-radius: 20px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: fit-content;
    transform: skewX(-8deg);
}

.footer-col .footer-contact li a p {
    transform: skewX(8deg);

}

@media screen and (max-width:900px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:600px) {
    .footer-col {
        width: 100%;
    }
}

.services {
    position: relative;
}

.services__carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    transition: transform 0.1s ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1;
}

.carousel__button--left {
    left: -40px;
    transform: rotate(180deg);
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);

    margin: 0 12px;
    cursor: pointer;
}

.carousel__nav .current-slide {
    background: rgba(0, 0, 0, 0.75);
}

.navabar,
.provisionary {
    display: none;
}

@media screen and (max-width: 900px) {
    .welcome_background_page .text {
        display: contents;
    }

    * {
        font-size: 1rem;

    }

    .faq__cards {
        display: block;
    }

    .faq__cards:nth-last-child(2) {
        flex-direction: column-reverse;
    }

    .faq__cards span {
        place-content: center;
        text-align: center;
    }

    .faq__cards span h1 {
        font-size: 1.5rem;
    }

    .welcome_background_page h1 {
        font-size: 1rem;
    }

    .welcome_background_page {
        width: fit-content;

    }

    .welcome_background_page h4 {
        font-size: .5rem;
    }

    .navbar_menu_links {
        display: none;
    }

    .partners span {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer {
        font-size: 0.75rem;
        padding: 20px;
    }

    .call_to_action {
        flex-direction: column;
    }

    .call_to_action span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    .faq__heading,
    .partners__heading {
        font-size: 1.5rem;
    }

    .welcome_background_page .text-typing {
        display: none;
    }

}

@media screen and (min-width: 900px) {
    .welcome_background_page .text {
        display: none;
    }

    .welcome_background_page .text-typing {
        display: block;
    }
}

.typing-effect {
    width: 22.05ch;
    animation: typing 2s steps(29);
    /* effect .5s step-end infinite alternate; */
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2.5rem;

}

.typing-effect_two {
    width: 55ch;
    animation: typing 8s steps(76);
    /* effect .5s step-end infinite alternate; */
    overflow-x: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-size: 1.5rem;
}

.typing-effect_three {
    width: 55ch;
    animation: typing2 14s steps(78);
    /* effect .5s step-end infinite alternate; */
    overflow-x: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-size: 1.5rem;
}

.typing_effect_four {
    width: 18ch;
    animation: typing3 18s steps(25),
        effect .5s step-end infinite alternate;
    overflow-x: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-size: 1.5rem;
}

@keyframes typing {
    0% {
        width: 0;
    }

    30% {
        width: 0;
    }
}

@keyframes typing2 {
    0% {
        width: 0;
    }

    55% {
        width: 0;
    }
}

@keyframes typing3 {
    0% {
        width: 0;
    }

    77.78% {
        width: 0;
    }
}

@keyframes effect {
    50% {
        border-color: transparent;
    }
}

.typing_span {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 400px;
    max-width: 80%;
    padding: 15px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-nav {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal input,
.modal input:focus,
.modal input:focus-within,
.modal input:focus-visible {
    border: none;
    border-bottom: 2px solid black;
    background: none;
}

.modal-nav button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: .25rem;
}

#overlay {
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ==== Sidebar ==== */

.sidebar {
    color: var(--footerText);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    transition: all 0.5s ease;
    background: var(--emailForm);
    -webkit-box-shadow: 0 10px 25px 0 rgb(18 18 18 / 5%);
    -moz-box-shadow: 0 10px 25px 0 rgba(18, 18, 18, .05);
    box-shadow: 0 10px 25px 0 grey,
        -10px 5px 20px 0 grey,
        -15px 5px 15px 0 grey;

}

.sidebar.close {
    width: 88px;
    transition: all 0.5s ease;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    position: relative;
    left: 12px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background-color: #2b5876;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.sidebar header .toggle path {
    fill: white;
}

.sidebar header .toggle:hover path {
    fill: #2b5876;
}

.sidebar header .toggle:hover {
    background-color: white;
}

.sidebar.close header .toggle {
    transform: rotate(0deg)
}

.sidebar .menu-icon {
    cursor: pointer;
    padding-top: 28px;
    position: relative;
    user-select: none;
    right: 70px;
    float: right;
    box-sizing: border-box;
    margin-left: auto;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li a svg {
    width: 30px;
    height: 30px;
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar li a svg path,
.sidebar li a svg rect,
.sidebar li a svg circle,
.sidebar li a svg polygon {
    fill: var(--arrow);
}

.sidebar .menu {
    height: 75%;
}

.sidebar ul {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li {
    height: 50px;
    display: flex;
    align-items: center;
}

.sidebar li a {
    color: var(--footerText);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: all 0.2s ease;
    color: var(--arrow);
}

.sidebar li a:hover {
    background: var(--buttonGradientHover);
    color: white;
}

.sidebar li a:hover svg path,
.sidebar li a:hover svg rect,
.sidebar li a:hover svg circle,
.sidebar li a:hover svg polygon {
    fill: white;
    transition: all 0.2s ease;
}

.sidebar .menu-bar {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    top: -5px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100% + 5px)
}

.sidebar.close~.home {
    left: 88px;
    width: calc(100% - 88px);
}

.cloud-path-1 {
    fill: #EA4335;
}

.cloud-path-2 {
    fill: #4285F4;
}

.cloud-path-3 {
    fill: #34A853;
}

.cloud-path-4 {
    fill: #FBBC05;
}

.microsoft,
.cloud,
.aws {
    width: 50%;
}

.microsoft-path-1 {
    fill: #F25022;
}

.microsoft-path-2 {
    fill: #7FBA00;
}

.microsoft-path-3 {
    fill: #00A4EF;
}

.microsoft-path-4 {
    fill: #FFB900;
}
.aws-path-1 {
    fill: #252F3E;
}

.aws-path-2 {
    fill: #FF9900;
}

.aws-path-3 {
    fill: #FF9900;
}
.blue{
    height: 500px;
    width: 50%;
    background-color: blue;
}
.blue::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 500px;
    background: inherit;
    z-index: -1;
    left: 50%;
    transform-origin: top bottom;
    transform: skewX(-5deg);
    border-radius: 50px;
}